<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>7gNbQnQSY9DeQtXrfVjWlWPYa</string>
	<key>consumer_Secret</key>
	<string>nxnHe4y9uaRxhWUYW0XFSjU32irKwsYww3JVkBE8TJFbPmaUIZ</string>
</dict>
</plist>
